@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #333333;
    --color2: #BCE853;
    --color3: #174E70;
}

body {
    font-family: 'Merriweather', serif;
    margin: 0 auto;
    max-width: 800px;
}



#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.nav {
    margin: 1rem auto;

}
.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    background-color: var(--color1);
}

.navigation a {
    display: none;
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

.open a {
    display: block;
}

#menu {
    font-size: 1.5rem;
	border: 0;
	background: none;
	color: white;
	position: absolute;
	top: 1rem;
	right: 1rem;
}
main {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
}

p {
    font-family: 'Rubik', sans-serif;
}

h1 {
    background-color: var(--color3);
    color:white;
    margin: 0 0;
    padding: 30px 30px;
    text-align: center;
}

h2 {
    text-align: center;
    padding: 2rem 0;
}

.album{
        padding: 20px;
        text-align: center;
}
figcaption {
    padding:10px;
    font-style: italic;
}
figure img {
    max-width: 100%;
}
footer {
    padding: 10px 0;
    background-color: var(--color3);
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: #00CCCC;
    text-decoration: underline;
}

a:visited {
    color: #00CCCC;
}


#lastModified {
    color: var(--color2)
}
