

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #D32F2F; 
    --secondary: #009688;
    --accent: #FFC107; 
    --text: white;
    --text-on-accent:#212121; 
}



body {
    font-family: 'Merriweather', serif;
    margin: 0 auto;
    max-width: 1200px;
}
.nav {
    background-color: var(--secondary);
    padding: 0.5rem;
}

.hero-container{
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;

}

h1 {
    background-color: var(--primary);
    color:white;
    margin: 0 0;
    padding: 2rem 2rem;
    text-align: center;
}

.info-card {
    width: 100%;
    text-align: center;
    padding: .3rem;
}

.info-card h2 {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding: 1rem;
    text-align: center;
}

.info-card ul {
    list-style: none;
}

.info-card li{
    padding: 0.3rem;
}

footer {
    padding: 2rem 0;
    background-color: var(--primary);
    color: var(--text);
    text-align: center;
}

footer p {
    font-family: 'Rubik', sans-serif;
}
#lastModified {
    color: var(--color2)
}
