@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Rubik&display=swap');

*{
    box-sizing: border-box;
}

:root {
    --color1: #333333;
    --color2: #BCE853;
    --color3: #174E70;
}

body {
    font-family: 'Merriweather', serif;
    margin: 0 auto;
    max-width: 800px;
}
.navigation{
    background-color: var(--color1);
    display: none;

}

.navigation a {
    color: white;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
}

p {
    font-family: 'Rubik', sans-serif;
}

h1 {
    background-color: var(--color3);
    color:white;
    margin: 0 0;
    padding: 30px 30px;
    text-align: center;
}

h2 {
    text-align: center;
}
figure {
    margin: 0;
}
figcaption {
    padding:10px;
    font-style: italic;
}
figure img {
    max-width: 100%;
}
footer {
    padding: 10px 0;
    background-color: var(--color3);
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: #00CCCC;
    text-decoration: underline;
}

a:visited {
    color: #00CCCC;
}


#lastModified {
    color: var(--color2)
}
